@font-face {
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../../lib/fonts/PressStart2P-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Courier Prime';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../../lib/fonts/CourierPrime-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'PT Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../../lib/fonts/PTMono-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url('../../lib/fonts/JetBrainsMono-ExtraLight.woff2') format('woff2');
}
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../../lib/fonts/Raleway-Regular.woff2') format('woff2');
}

table,
tbody,
tr,
th,
td {
    background-color: rgba(255, 255, 255, 0.2) !important;
}

.custom-switch:focus {
    border-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 5px 2px bisque;
}

.custom-switch:checked {
    border-color: rgba(255, 255, 255, 0.2);
    background-color: chocolate;
    box-shadow: 0 0 5px 2px bisque;
}

iframe {
    overflow: hidden;
    border: 0;
}

.custom-btn {
    border-color: chocolate;
    color: chocolate;
}

.custom-btn:hover {
    border-color: rgba(235, 173, 129, 1);
    background-color: rgba(235, 173, 129, 1);
}

.custom-btn:disabled {
    border-color: rgba(70, 70, 70, 0.5);
    color: rgb(70, 70, 70, 0.5);
}

.multifont {
    font-family: 'Courier Prime', sans-serif;
}

a {
    color: chocolate;
}

.custom-tooltip {
    --bs-tooltip-bg: var(--bd-violet-bg);
    --bs-tooltip-color: var(--bs-white);
}

.icon {
    display: inline-flex;
    align-items: center;
    line-height: 1;
}
.icon svg {
    display: block;
    pointer-events: none;
}
.icon-xs svg {
    width: 0.625em;
    height: 0.625em;
}